.App {
  text-align: center;
}

#editor-group {
  margin-top: 30px;
  width: 601px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(64, 63, 62);
  position: relative;
  border: 1px solid #ddd;
}

.public-DraftEditor-content {
    min-height: 200px;
}

#options {
  margin-top: 20px;
}

#options label {
  display: block;
  margin-bottom: 10px;
}

#options label input {
  margin-right: 10px;
}

.submit-form {
  margin-top: 20px;
}

.form-error {
  margin-top: 20px;
  color: red;
}
