.App {
  text-align: center;
}

#editor-group {
  border: 1px solid #ddd;
  margin-top: 30px;
  width: 501px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(64, 63, 62);
  position: relative;
}

.editor {
  padding: 20px;
  padding-bottom: 30px;
}

#buttons {
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 30px;
}

#buttons > a {
  display: inline-block;
  width: 157px;
  padding: 5px 5px;
  background: #ddd;
  text-decoration: none;
}